footer {
    position: absolute;
    bottom: 0;
    background: #ededed;
    width: 100%;
    p{
	    padding-top: 10px;
	    padding-bottom: 10px;
	    text-align: center;
	    font-family: 'GothamBook';
	    font-size: 14px;
	    font-weight: 400;
	    line-height: 30px;
	    color: #818181;  	
    }
}

@media screen and (min-width:320px) and (max-width:479px) {}
@media screen and (min-width:480px) and (max-width:639px) {}
@media screen and (min-width:640px) and (max-width:767px) {}
@media screen and (min-width:768px) and (max-width:959px) {}
@media screen and (min-width:960px) and (max-width:1199px) {}
@media screen and (min-width:1200px) and (max-width: 1359px) {
	footer {
	    p{
		    text-align: right; 
    		padding-right: 10%;		    	
	    }
	}
}
@media screen and (min-width:1360px) and (max-width: 1400px) {}
@media screen and (min-width:1400px) and (max-width: 1599px) {}
@media screen and (min-width:1600px) and (max-width: 1919px) {}