//Aqui no arquivo principal, adicionar apenas variáveis, constantes, funções ou rotas.

//Paleta de Cores
$preto1: #000000;
$branco1: #ffffff;

//Lista de constantes
@mixin ocultar {
	display: none;
}