.pesquisas{
    width: 90%;
    margin-left: auto;
    margin-right: auto;	
    .breacumb{
    	display: none;
    }
	.pesquisas-title {
		padding-top: 20px;
		font-family: 'gothambold';
		font-size: 16px;
		color: #078bcd;
		width: 100%;
		border-top: 1px solid #e4e4e4;
	}
	.pesquisas-container{	
		.pesquisas-box{
			.pagination {
			    display: block;
			    padding-left: 0;
			    margin: 20px 0;
			    border-radius: 4px;
			    width: 94%;
			    margin-left: auto;
			    margin-right: auto;
			    text-align: center;
			    padding-bottom: 40px;			    
				.page-item{
					font-family: 'GothamBook';					
				    font-size: 14px;
				    line-height: 30px;
				    color: #adadad;					
					.page-link{
						float: none;
						margin-left: auto;
						margin-right: auto;
						text-decoration: none;
						background-color: unset;
						border: none;
						padding: 6px 6px;
				    	color: #adadad;													
					}					
				}
			}			
			.banner-form{
				padding-bottom: 40px;
				.login-form{
					.login-form-title{
						font-family: 'GothamBook';					
					    font-size: 12px;
					    line-height: 36px;
					    color: #2f2f2f;
					    margin: 0;
					    padding: 0;
					    text-transform: none;		
					}
					.form-group{
						margin-bottom: 0;
						.form-control{
						    border-radius: 0;
						    width: 85%;
						    height: 32px;
						    font-family: 'GothamBook';
						    font-size: 10px;
						    line-height: 21px;
						    font-weight: 400;
						    float: left;						
						}
						.btn-primary {
						    border-radius: 0;
						    width: 15%;
						    font-family: 'GothamBook';
						    font-size: 12px;
						    font-weight: 400;
						    line-height: 30px;
						    padding: 0;
						    margin: 0;
						}					
					}
				}				
			}			
			.docentes-list{
				text-align: left;	
				.docente{
					display: table;
					width: 95%;
					margin-left: auto;
					margin-right: auto;
					padding-top: 10px;
					padding-bottom: 10px;
				    .docente-info{
					    display: inline-block;
					    vertical-align: middle;
					    padding-left: 3vw;			    	
				    }
				    .docente-name{
					    font-family: 'gothambold';
					    font-size: 14px;
					    color: #565656;
					    margin-left: 0;
				    }
				    .docente-desc{
					    font-family: 'GothamBook';
					    font-size: 12px;
					    color: #565656;
					    margin-left: 0;
				    }				    
				    .docente-img-mobile{
				    	display: none;
				    }
				    .docente-img-web{
				    	display: inline-table;
				    }
					span{
						display: inline-table;							
					}
				}
			}
		}
	}	
}
@media screen and (min-width:1200px) {
	.page{
		.pesquisas {
		    padding-top: 110px;
		    width: 98%;
		    .breacumb {
				font-family: 'GothamBook';
				font-size: 13px;
				line-height: 20px;
				color: #8e8e8e;
				text-align: right;
				display: block;
			    padding-right: 5vw;	
			}			
			.pesquisas-title{
				display: none;				
			}			
			.pesquisas-container{
				width: 100%;
				margin-left: auto;
				margin-right: auto;				
				.pesquisas-box{
				    display: inline;
					.docentes-list{
						padding: 20px;
						width: 100%;
						margin-left: auto;
						margin-right: auto;
						.docente{
						    float: left;
						    width: 50%;
						    margin-left: auto;
						    margin-right: auto;
						}
						.docente-info{
							padding-left: 1vw;							
						}
					}				    
					.pesquisas-box-header {
					    width: 22%;
					    display: inline-grid;
					    vertical-align: top;
					}
					.pesquisas-box-content {
						width: 75%;
						display: inline-block;
						border-left: 1px solid #dddddd;
						margin-bottom: 40px;
					}									    
					.pesquisas-box-title{
						padding-left: 2vw;
						font-size: 13px;
						line-height: 40px;							
					}
					.pesquisas-list{
    					width: 95%;
    					.pesquisas-result{
							.result-info{
							    font-size: 14px;							
							}
							.result-label{
								font-size: 12px;
							}    						
    					}					
					}
					.banner-form{
    					padding-right: 1vw;						
					}
					.pagination{
						display: inline-block;
					    padding-top: 20px;
					    padding-bottom: 0px;    						
					}
				}
			}
		}
	}
}
@media screen and (min-width:1360px) and (max-width: 1400px) {
	.page{
		.pesquisas {		
			width:85%;
			.pesquisas-container{
				.pesquisas-box{
					.pesquisas-box-header{
						width: 23%;
					}
				}
			}
		}
	}    
}
@media screen and (min-width:1400px) and (max-width: 1599px) {
	.page{
		.pesquisas {		
			width:80%;
			.pesquisas-container{
				.pesquisas-box{
					.pesquisas-box-header{
						width: 24%;
					}
				}
			}
		}
	}  	
}
@media screen and (min-width:1600px) and (max-width: 1919px) {
	.page{
		.pesquisas {		
			width:75%;
			.breacumb{
    			padding-right: 2vw;
			}
			.pesquisas-container{
				.pesquisas-box{
					.pesquisas-box-header{
						width: 25%;
					}
					.pesquisas-box-content{
						width: 70%;
					}					
				}
			}
		}
	}	
}
@media screen and (min-width:1920px) {
	.page{
		.pesquisas {		
			width:60%;
			.breacumb{
    			padding-right: 0;
			}
			.pesquisas-container{
				.pesquisas-box{
					.pesquisas-box-header{
						width: 25%;
					}
					.pesquisas-box-content{
						width: 70%;
					}					
				}
			}
		}
	}	
}