footer {
  position: relative;
  background: #ededed;
  width: 100%; }
  footer p {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-family: 'GothamBook';
    font-size: 14px;
    font-weight: 400;
    line-height: 30px;
    color: #818181; }

@media screen and (min-width: 1200px) {
  footer p {
    text-align: right;
    padding-right: 10%; } }
