.transition, .mobile-menu {
  transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
  -webkit-transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
  -moz-transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
  -o-transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1);
  -ms-transition: all 0.5s cubic-bezier(0.17, 0.84, 0.44, 1); }

.mobile-menu {
  background: #343434;
  position: absolute;
  width: 100%;
  z-index: 2;
  padding: 25px;
  padding-bottom: 10px;
  transform: translate3d(0, -100%, 0); }
  .mobile-menu .btn-back {
    color: #ffffffff;
    font-size: 20px;
    padding-bottom: 25px; }
  .mobile-menu .input-group .form-control {
    font-family: 'GothamBook', 'FontAwesome';
    border-radius: 0;
    background: transparent; }
  .mobile-menu .input-group .input-group-btn {
    font-family: 'GothamBook';
    font-size: 12px;
    line-height: 30px;
    font-weight: 400; }
    .mobile-menu .input-group .input-group-btn .btn-default {
      border-radius: 0;
      background: #078bcd;
      border-color: #078bcd;
      color: #ffffff; }
  .mobile-menu .menu-list {
    padding-top: 30px; }
    .mobile-menu .menu-list li {
      font-size: 16px;
      font-family: 'gothambold';
      color: #ffffff;
      border-bottom: 1px solid #444444;
      margin-bottom: 10px;
      padding-left: 10px; }
      .mobile-menu .menu-list li:last-child {
        border-bottom: none; }
      .mobile-menu .menu-list li p {
        font-size: 12px;
        font-family: 'Myriad-Pro';
        color: #7a7a7a;
        padding-bottom: 5px; }

.login-form .form-group {
  margin-bottom: 10px; }
  .login-form .form-group img {
    float: left;
    border-bottom: 1px solid #ccc; }
  .login-form .form-group .form-control {
    border-radius: 0;
    width: 85%;
    height: 27px;
    font-family: 'GothamBook';
    font-size: 10px;
    line-height: 21px;
    font-weight: 400; }
  .login-form .form-group .btn-primary {
    border-radius: 0;
    width: 100%;
    font-family: 'gothamlight';
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase; }
  .login-form .form-group p {
    font-family: 'GothamBook';
    font-size: 12px;
    line-height: 21px;
    color: #05284e; }
    .login-form .form-group p a {
      font-family: 'gothambold';
      color: #05284e; }

.login-form .form-check {
  font-size: 9px;
  line-height: 21px;
  text-align: left;
  color: #494949; }
  .login-form .form-check input {
    font-family: 'gothamregular';
    vertical-align: top; }
  .login-form .form-check a {
    vertical-align: top;
    color: #494949;
    float: right; }

.login-form .login-form-title {
  text-align: left;
  font-family: 'gothamregular';
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #078bcd;
  text-transform: uppercase; }

.login-box {
  display: none; }

.header {
  display: inline-flex;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px; }
  .header .btn-menu {
    margin-left: auto;
    margin-right: auto; }
  .header .menu-logo {
    margin-left: auto;
    margin-right: auto; }
    .header .menu-logo .logo-web {
      display: none; }
  .header .btn-login {
    margin-left: auto;
    margin-right: auto; }
  .header .menu-principal {
    margin-left: auto;
    margin-right: auto;
    display: none; }

.remodal-wrapper .remodal {
  min-width: 260px !important;
  min-height: 260px !important;
  max-width: 440px !important;
  max-height: 430px !important; }

@media screen and (min-width: 1200px) {
  .mobile-menu {
    display: none; }
  .login-box {
    display: flex;
    background: #05284e;
    padding-bottom: 15px; }
    .login-box .btn-login {
      margin-left: auto;
      text-align: right; }
    .login-box .btn-search {
      text-align: right;
      margin-right: 15%;
      padding-left: 1vw; }
  .header {
    height: 75px;
    display: table;
    padding-top: 0;
    padding-bottom: 0;
    position: absolute;
    z-index: 2; }
    .header .btn-menu {
      display: none; }
    .header .btn-login {
      display: none; }
    .header .menu-principal {
      display: table-cell;
      margin-left: 0;
      background: rgba(163, 163, 163, 0.7);
      padding-top: 5px; }
    .header .menu-logo {
      margin-right: 0;
      display: table-cell;
      vertical-align: middle;
      background: #ffffff; }
      .header .menu-logo .logo-web {
        display: table-cell;
        margin-left: auto;
        margin-right: auto; }
      .header .menu-logo .logo-mobile {
        display: none; }
    .header .menu-list {
      display: inline-flex;
      padding-top: 3px; }
      .header .menu-list li {
        font-size: 18px;
        font-family: 'gothambold';
        color: #ffffff;
        padding: 20px;
        padding-top: 5px;
        padding-bottom: 5px;
        border-left: 1px solid #b4b4b4; }
        .header .menu-list li:first-child {
          border-left: none; }
        .header .menu-list li p {
          font-family: 'Myriad-Pro';
          font-size: 12px;
          color: #ffffff; } }

@media screen and (min-width: 1360px) and (max-width: 1400px) {
  .header .menu-logo .logo-web {
    padding-left: 5vw; } }

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .header .menu-logo .logo-web {
    padding-left: 8vw; } }

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  .header .menu-logo .logo-web {
    padding-left: 10vw; } }

@media screen and (min-width: 1920px) {
  .header .menu-logo .logo-web {
    padding-left: 10vw;
    margin-right: 2vw; } }
