.pessoas-info {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .pessoas-info .breacumb {
    display: none; }
  .pessoas-info .pessoas-info-title {
    font-size: 16px;
    color: #078bcd;
    font-family: 'gothambold';
    line-height: 36px;
    width: 100%;
    border-top: 1px solid #e4e4e4;
    padding-left: 5vw; }
  .pessoas-info .pessoas-info-container {
    padding-top: 20px;
    display: inline; }
    .pessoas-info .pessoas-info-container .pessoas-info-box-header .bio-box {
      margin-left: auto;
      margin-right: auto;
      width: 100%;
      text-align: center; }
      .pessoas-info .pessoas-info-container .pessoas-info-box-header .bio-box .bio-email {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px; }
        .pessoas-info .pessoas-info-container .pessoas-info-box-header .bio-box .bio-email span {
          font-family: 'GothamBook';
          font-size: 12px;
          line-height: 16px;
          color: #636363; }
      .pessoas-info .pessoas-info-container .pessoas-info-box-header .bio-box .bio-site {
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding-top: 10px;
        padding-bottom: 20px; }
        .pessoas-info .pessoas-info-container .pessoas-info-box-header .bio-box .bio-site span {
          font-family: 'GothamBook';
          font-size: 12px;
          line-height: 16px;
          color: #636363; }
      .pessoas-info .pessoas-info-container .pessoas-info-box-header .bio-box .bio-name {
        font-family: 'gothambold';
        font-size: 16px;
        color: #0096d6;
        padding-top: 10px; }
      .pessoas-info .pessoas-info-container .pessoas-info-box-header .bio-box .bio-status {
        font-family: 'GothamBook';
        font-size: 12px;
        color: #9f9f9f;
        padding-top: 5px; }
    .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box {
      padding-top: 0;
      padding: 30px;
      padding-bottom: 0; }
      .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box:last-child {
        padding-bottom: 75px; }
      .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-box-title {
        font-family: 'gothamregular';
        font-size: 10px;
        line-height: 30px;
        color: #078bcd;
        text-transform: uppercase;
        background: #f3f3f3;
        padding-left: 5vw; }
      .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs {
        padding-top: 20px; }
        .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-nav {
          display: inline; }
          .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-nav .ui-tabs-tab {
            display: inline-block; }
            .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-nav .ui-tabs-tab .ui-tabs-anchor {
              font-family: 'GothamBook';
              font-size: 12px;
              line-height: 20px;
              color: #636363;
              padding-right: 8px;
              border-right: 1px solid #d1d1d1;
              margin-left: 8px; }
              .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-nav .ui-tabs-tab .ui-tabs-anchor:active {
                font-family: 'gothamregular'; }
        .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-panel {
          margin-top: 20px; }
          .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-panel .tab-title {
            font-family: 'gothambold';
            font-size: 12px;
            line-height: 16px;
            color: #0096d6;
            text-transform: uppercase; }
          .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-panel .list-box {
            padding-top: 20px; }
            .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-panel .list-box .item-list {
              padding-bottom: 30px; }
              .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-panel .list-box .item-list .item-title {
                font-family: 'gothambold';
                font-size: 12px;
                line-height: 16px;
                color: #636363; }
              .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-panel .list-box .item-list .item-content {
                font-family: 'GothamBook';
                font-size: 12px;
                line-height: 16px;
                color: #636363;
                padding-top: 10px; }
      .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-list {
        width: 90%;
        margin-left: auto;
        margin-right: auto; }
        .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-list .pessoas-info-result {
          list-style: none; }
          .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-list .pessoas-info-result:first-child {
            padding-top: 20px; }
          .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-list .pessoas-info-result .result-info {
            font-family: 'GothamBook';
            font-size: 12px;
            line-height: 15px;
            color: #686868; }
          .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-list .pessoas-info-result .result-label {
            font-family: 'GothamBook';
            font-size: 10px;
            line-height: 56px;
            color: #8a8a8a; }

@media screen and (min-width: 1200px) {
  .page .pessoas-info {
    padding-top: 110px; }
    .page .pessoas-info .breacumb {
      font-family: 'GothamBook';
      font-size: 13px;
      line-height: 20px;
      color: #8e8e8e;
      text-align: right;
      display: block;
      padding-right: 2vw; }
    .page .pessoas-info .pessoas-info-title {
      display: none; }
    .page .pessoas-info .pessoas-info-container .pessoas-info-box-header {
      width: 20%;
      display: inline-grid;
      vertical-align: top; }
    .page .pessoas-info .pessoas-info-container .pessoas-info-box-content {
      width: 75%;
      display: inline-block;
      border-left: 1px solid #dddddd;
      margin-bottom: 40px; }
      .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs {
        padding: 20px; }
        .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-nav {
          position: absolute; }
          .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-nav .ui-tabs-tab .ui-tabs-anchor {
            font-size: 13px;
            line-height: 16px;
            border-right: none;
            margin-left: 0;
            padding-right: 0;
            padding: 10px 20px; }
            .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-nav .ui-tabs-tab .ui-tabs-anchor:focus {
              outline: none;
              outline-offset: 0;
              border: 1px solid #dcdcdc;
              border-bottom: 1px solid #ffffff; }
        .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-panel {
          margin-top: 28px;
          padding: 15px;
          padding-top: 0;
          border: 1px solid #dcdcdc; }
          .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .ui-tabs .ui-tabs-panel .tab-title {
            padding-top: 20px; }
      .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-box-title {
        padding-left: 2vw; }
      .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-list {
        width: 95%; }
        .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-list .pessoas-info-result .result-info {
          font-size: 12px;
          line-height: 20px; }
        .page .pessoas-info .pessoas-info-container .pessoas-info-box-content .pessoas-info-box .pessoas-info-list .pessoas-info-result .result-label {
          font-size: 12px; } }
