html {
  color: #000;
  background: #FFF;
  overflow-x: hidden; }
  html body, html div, html dl, html dt, html dd, html ul,
  html ol, html li, html h1, html h2, html h3, html h4, html h5,
  html h6, html pre, html code, html form, html fieldset,
  html legend, html input, html textarea, html p,
  html blockquote, html th, html td {
    margin: 0;
    padding: 0; }
  html table {
    border-collapse: collapse;
    border-spacing: 0; }
  html fieldset, html img {
    border: 0; }
  html address, html caption, html cite, html code,
  html dfn, html em, html strong, html th, html var {
    font-style: normal;
    font-weight: normal; }
  html li {
    list-style: none; }
  html caption, html th {
    text-align: left; }
  html h1, html h2, html h3, html h4, html h5, html h6 {
    font-size: 100%;
    font-weight: normal; }
  html q:before, html q:after {
    content: ''; }
  html abbr, html acronym {
    border: 0;
    font-variant: normal; }
  html sup {
    vertical-align: text-top; }
  html sub {
    vertical-align: text-bottom; }
  html input, html textarea, html select {
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit; }
  html input, html textarea, html select {
    *font-size: 100%; }
  html legend {
    color: #000; }
  html body {
    background: #ffffff; }
  html a, html a:hover, html a:active, html a:focus {
    text-decoration: none; }
  html .ui-tabs-vertical {
    width: 100%; }
    html .ui-tabs-vertical .ui-tabs-nav {
      padding: 0;
      float: left;
      width: 100%; }
    html .ui-tabs-vertical .ui-tabs-panel {
      padding: 0;
      float: right;
      width: 100%; }
