.search {
  width: 90%;
  margin-left: auto;
  margin-right: auto; }
  .search .breacumb {
    display: none; }
  .search .search-title {
    font-family: 'gothamregular';
    font-size: 14px;
    line-height: 36px;
    color: #585858;
    width: 100%;
    border-bottom: 1px solid #e4e4e4;
    text-transform: uppercase;
    padding-left: 5vw; }
  .search .search-container {
    padding-top: 20px; }
    .search .search-container .search-box:last-child {
      padding-bottom: 75px; }
    .search .search-container .search-box .search-box-title {
      font-family: 'gothamregular';
      font-size: 10px;
      line-height: 30px;
      color: #078bcd;
      text-transform: uppercase;
      background: #f3f3f3;
      padding-left: 5vw; }
    .search .search-container .search-box .search-list {
      width: 90%;
      margin-left: auto;
      margin-right: auto; }
      .search .search-container .search-box .search-list .search-result {
        list-style-image: url("../images/list-style.png"); }
        .search .search-container .search-box .search-list .search-result:first-child {
          padding-top: 25px; }
        .search .search-container .search-box .search-list .search-result .result-info {
          font-family: 'GothamBook';
          font-size: 12px;
          line-height: 15px;
          color: #686868; }
        .search .search-container .search-box .search-list .search-result .result-label {
          font-family: 'GothamBook';
          font-size: 10px;
          line-height: 56px;
          color: #8a8a8a; }

@media screen and (min-width: 1200px) {
  .page .search {
    padding-top: 110px;
    width: 98%; }
    .page .search .breacumb {
      font-family: 'GothamBook';
      font-size: 13px;
      line-height: 20px;
      color: #8e8e8e;
      text-align: right;
      display: block;
      padding-right: 2vw; }
    .page .search .search-title {
      padding-left: 2vw; }
    .page .search .search-container .search-box .search-box-title {
      padding-left: 2vw;
      font-size: 13px;
      line-height: 40px; }
    .page .search .search-container .search-box .search-list {
      width: 95%; }
      .page .search .search-container .search-box .search-list .search-result .result-info {
        font-size: 14px; }
      .page .search .search-container .search-box .search-list .search-result .result-label {
        font-size: 12px; } }

@media screen and (min-width: 1360px) and (max-width: 1400px) {
  .page .search {
    width: 86%; } }

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .page .search {
    width: 81%; } }

@media screen and (min-width: 1600px) and (max-width: 1919px) {
  .page .search {
    width: 73%; } }

@media screen and (min-width: 1920px) {
  .page .search {
    width: 60%; } }
